---
import Layout from '@lay/Layout.astro'

const username = 'dex';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<Layout title="Edit Your Blog">
	<main class="mx-[50px] mb-3">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Edit Your Blog</h1>
		<a class="text-[#1D4ED8] hover:text-[#ED0707] hover:underline text-xs" href=`/${username}/blog`>« Back to your blog</a>
	</main>
</Layout>