---
import Layout from '@lay/Layout.astro';

import SmallLink from '@com/main/SmallLink.astro';

const username = 'dex';

const name = 'Dex';

const loggedin = true;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<Layout title=`${ loggedin ? name + "'s" : "Your" } Blog`>
	<main class="mx-[50px] mb-3">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">{name}'s Blog</h1>
		{ loggedin ? <p class="text-xs mb-2"><SmallLink href={`/${username}/blog/edit`} link="edit blog" /></p> : null }
	</main>
</Layout>