---
import BlogBox from '@com/main/BlogBox.astro';

import ShowList from '@com/home/ShowList.astro';

const { loggedin, showList, name, username } = Astro.props;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<BlogBox 
    username2={`${name}'s`} 
    name="Latest Blog Entries" 
    name2="[view blog]" 
    pclass="flex items-center justify-between text-xs font-semibold text-red-600 bg-transparent" backgroundColor="bg-transparent" 
    borderColor="border-transparent" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-black mr-2" 
    aurl=`${username}/blog`
>
    <div class="space-y-2 -ml-0.5 -mb-1">
        { showList ? <ShowList username={username} /> : 
       <p class="text-xs">{ loggedin ? "You have" : "There are" } no blog entries yet</p>
        }
    </div>
</BlogBox>