---
import BlogBox from '@com/main/BlogBox.astro';

import ShowList from '@com/main/ShowListProfile.astro';

const { showlist, name, username } = Astro.props;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<BlogBox 
    username2={`${name}'s`} 
    name="Latest Blog Entries" 
    name2="[view blog]" 
    pclass="flex items-center justify-between text-xs font-semibold text-red-600 bg-transparent -mt-0.5" backgroundColor="bg-white" 
    borderColor="border-white" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-zinc-950" 
    aurl=`${username}/blog`
>
    <div class="space-y-2 -ml-[1.5px] -mt-0.5 bg-white">
        { showlist > 0 ? <ShowList username={username} /> : 
       <p class="text-xs">There are no blog entries yet</p>
        }
    </div>
</BlogBox>