---
import UserURL from '@com/profile/UserURL.astro';

const { loggedin, name, username } = Astro.props;
---
<div class="w-[304px] h-[43.3438px] border-2 border-neutral-950 flex">
        <div class="mx-2 mt-1 mb-0.5 w-full">
            <UserURL loggedin={loggedin} name={name} username={username} />
        </div>
</div>