---
import UserURL from '@com/profile/UserURL.astro';

const { hidden } = Astro.props;
---
<div class="w-[304px] h-[43.3438px] border-2 border-blue-400 flex">
        <div class="mx-2 my-auto w-full">
            <UserURL hidden={hidden} />
        </div>
</div>