---
import SmallLink from '@com/main/SmallLink.astro';

interface Props {
    loggedin?: boolean;
    name?: string;
    username?: string;
}

const { loggedin, name, username } = Astro.props;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<p class="text-xs font-semibold">
    <div class="flex justify-between items-center">
        <p class="text-xs font-semibold">{name}'s Profile URL:</p>
        { !loggedin ? '' : <p class="text-xs"><SmallLink href={`${username}/settings`} link="edit" /></p> }
    </div>
        <p class="text-xs">https://www.kinva.net/{username}</p>
</p>