---
import SmallLink from '@com/main/SmallLink.astro';

interface Props {
    hidden?: boolean;
}

const hidden = true;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<p class="text-xs font-semibold text-black">
    <p class="text-xs font-semibold">{ hidden ? `Astro's`: 'Your' } Profile URL:</p>
    <div class="flex items-center justify-between">
        <p class="text-xs">https://hm.rikimade.com/astro</p>
        { hidden ? '' : <p class="text-xs"><SmallLink href={`/astro/settings`} link="edit" /></p> }
    </div>
</p>