---
import Layout from '@lay/Layout.astro';

import SmallLink from '@com/main/SmallLink.astro';

const name = 'Dex';

const username = 'dex';

const hidden = true;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<Layout title="Your Bulletins">
	<main class="mx-[50px] mb-8">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Your Bulletins</h1>
		{ hidden ? '' : <p class="text-xs mb-2"><SmallLink href={`/${username}/bulletins/postbulletin`} link="post bulletin" /></p> }
		<a class="text-[#1D4ED8] hover:text-[#ED0707] hover:underline text-xs" href={`/${username}`}>« Back to {name}'s profile</a>
	</main>
</Layout>