---
import OtherLayout from '../../@lay/OtherLayout.astro';

import SmallLink from '../@com/main/SmallLink.astro';

const name = 'Dex';

const username = 'dex';

const hidden = true;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<OtherLayout title="Your Bulletins">
	<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Your Bulletins</h1>
	{ hidden ? '' : <p class="text-xs mb-2"><SmallLink href={`/${username}/bulletins/createbulletin`} link="create bulletin" /></p> }
	<a class="text-blue-600 hover:text-red-600 hover:underline text-xs" href={`/${username}`}>« Back to {name}'s profile</a>
</OtherLayout>