---
import Layout from '@lay/Layout.astro';

const name = 'Dex';
---
<Layout title={`${name}'s Bulletins`}>
	<main class="mx-[50px] mb-8">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">{`${name}'s Bulletins`}</h1>
	</main>
</Layout>