.page-transition-enter {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .page-transition-enter-active {
    opacity: 1;
  }
  
  .page-transition-exit {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .page-transition-exit-active {
    opacity: 0;
  }

  body {
    font-family: Arial, sans-serif;
  }
  .uptime-bar {
    display: flex;
    gap: 2px; /* Add more gap between blocks for visibility */
    margin-top: 10px;
    border: 1px solid transparent; /* Add a border around the uptime bar for visibility */
    height: 30px; /* Set a fixed height for the container */
}

.uptime-bar div {
    width: 10px; /* Increase the width to make blocks more visible */
    height: 100%; /* Make blocks fill the container's height */
    background-color: #4CAF50;
    border: 1px solid transparent; /* Add border for better visibility */
}

.uptime-bar .down {
    background-color: red !important; /* Red block for downtime */
}
  .uptime-container {
    margin: 20px;
  }
  .uptime-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .uptime-percentage {
    color: #4CAF50;
    font-weight: bold;
  }
  .time-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .time-labels span {
    font-size: 12px;
    color: #555;
  }