*,
*::after,
*::before {
    @apply box-border;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

html {
  background-color: rgb(231 229 228);
  color: #000000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  font-family: Verdana, sans-serif;
}

html, body {
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

.form {
  display: grid;
}

input {
  font: inherit;
}

blink {
  animation: blinker 1.5s linear infinite;
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.instagram {
    @apply text-[50vmin] w-[1em] aspect-[1] relative grid place-items-center before:w-[65%] before:border-[0.05em] before:border-solid after:w-[35%] after:border-[0.05em] after:border-solid;
    background: radial-gradient(
        circle farthest-corner at 28% 100%,
        #fcdf8f 0%,
        #fbd377 10%,
        #fa8e37 22%,
        #f73344 35%,
        transparent 65%
      ),
  linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}
  .instagram:before,
  .instagram:after {
    @apply content-[""] text-white absolute aspect-[1];
}

.myspace-music-player {
  height: 0px;
}

.mmp-ui-container {
  display: grid;
  font-family: Verdana, Helvetica, Arial;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  height: 55px;
  max-width: 304px;
}

.mmp-button-container {
  margin: 8px 3px 8px 8px;
}

.mmp-button-container>button {
  background-color: #343a40;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-top: 0px;
}

.mmp-icon {
  font-size: 48px;
}

.mmp-play-icon {
  margin-top: 6px;
  margin-left: 1px;
  color: #ffffff;
}

.mmp-pause-icon {
  margin-top: 6px;
  margin-left: 1px;
  color: #ffffff;
}

.mmp-display-container {
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  font-size: 75%;
  height: 40px;
  width: 226px;
  margin-top: 8px;
  margin-left: 5px;
}

.mmp-eq-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.mmp-eq-container>img {
  max-height: 28px;
  max-width: 150px;
}

.mmp-song-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 7px;
}

.mmp-song-name {
  margin-top: 1.5px;
  color: #ffffff;
  font-weight: bold;
}