---
const navItems = [
  { smallname: "news", href: "/news", name: "News", dividerChar: "-" },
  { smallname: "updates", href: "/updates", name: "Updates", dividerChar: "-" },
  { smallname: "rules", href: "/rules", name: "Rules", dividerChar: "-" },
  { smallname: "press", href: "/press", name: "Press", dividerChar: "-" },
  { smallname: "brand", href: "/brand", name: "Brand", dividerChar: "-" },
  { smallname: "credits", href: "/credits", name: "Credits", dividerChar: "-" },
  { smallname: "feeds", href: "/feeds", name: "Feeds", dividerChar: "-" },
  { smallname: "terms", href: "/terms", name: "Terms", dividerChar: "-" },
  { smallname: "privacy", href: "/privacy", name: "Privacy", dividerChar: "-" },
  { smallname: "about", href: "/about", name: "About", dividerChar: "-" },
  { smallname: "shop", href: "/shop", name: "Shop", dividerChar: "" }
];

const getCssClasses = (isActive) => isActive ? "hover:text-red-600 hover:underline font-semibold aria-current:underline" : "hover:text-red-600 hover:underline";
const dividerCss = "text-black text-xs font-medium";

const currentPath = new URL(Astro.request.url).pathname.slice(1);
---
<div class="text-blue-600 text-[11px]">
    <ul class="flex items-stretch space-x-1">
      {navItems.map(({ smallname, href, name,dividerChar }) => (
      <li>
        <a data-navitem class={getCssClasses(currentPath === smallname)} href={href} target="_self">{name}</a>
        <span class={dividerCss}>{dividerChar}</span>
      </li>
    ))}
    </ul>
</div>

<script>
  const navItems = document.querySelectorAll(
    "[data-navItem]"
  ) as NodeListOf<HTMLAnchorElement>;

  navItems.forEach((link) => {
    if (window.location.href === link.href) {
      link.setAttribute("aria-current", "page");
    }
  })
</script>