---
import { Icon } from 'astro-icon';
---
<a href="https://tibush.com/labs" target="_blank" title="Tibush Labs Website">
    <Icon class="h-[17px] w-[170px] fill-black hover:fill-red-600 w-fit" name="tibush_project_logo" />
</a>