<a class="flex" href="https://www.paypal.com/donate/?hosted_button_id=N8SEE3KK4C538" target="_blank" rel="noopener" title="Donate to Hi Moot using Paypal">
    <button type="button" class="py-0.5 px-2 inline-flex justify-center items-center gap-2 border border-transparent font-semibold bg-yellow-400 hover:bg-yellow-500/80 text-black focus:outline-none focus:ring-0 focus:ring-transparent focus:ring-offset-0 transition-all text-sm m-auto">Donate</button>
</a>