---
import BottomNav from '@com/main/BottomNav.astro';
import Copyright from '@com/main/Copyright.astro';
---
<footer>
  <div class="mb-2 flex justify-center">
    <BottomNav />
  </div>
  <div class="mb-2 flex justify-center">
    <Copyright />
  </div>
</footer>