---
const { audiofiles, autoplayon } = Astro.props;
---
<style>
    audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    margin-left: 8px;
    }

   audio::-webkit-media-controls-panel {
    background-color: #EFF6FF;
   }

   audio::-webkit-media-controls-play-button {
    background-color: #BFDBFE;
        border-radius: 50%;
   }

   audio::-webkit-media-controls-play-button:hover {
        background-color: #93C5FD;
        border-radius: 50%;
   }

   audio::-webkit-media-controls-current-time-display,
   audio::-webkit-media-controls-time-remaining-display {
        display: none !important;
    }

    audio::-webkit-media-controls-volume-slider-container,
    audio::-webkit-media-controls-volume-slider,
    audio::-webkit-media-controls-mute-button,
    audio::-webkit-media-controls-volume-slider-container,
    audio::-webkit-media-controls-volume-slider,
    audio::-webkit-media-controls-volume-slider:hover,
    audio::-webkit-media-controls-volume-control-container {
        display: none !important;
    }
</style>
    <div class="border-2 border-blue-400 bg-white flex items-center">
        <audio class="flex items-center justify-center" id="audioPlayer" controls controlslist="nodownload noplaybackrate" preload="metadata" {...(autoplayon && { autoplay: true })}>
        <source id="audioSource" src={audiofiles[0].src} type="audio/mpeg" />
        Your browser does not support the audio element.
    </div>