---
import { Icon } from 'astro-icon/components';
---
<div>
    <!-- Notification Bell -->
    <button id="notificationButton" class="relative" title="You have 3 Notifications">
      <Icon name="bell" class="w-5 h-5 fill-white"></Icon>
    <!-- Notification Badge -->
    <span id="notificationBadge" class="-top-1.5 -right-1 absolute inline-flex h-2.5 w-2.5 rounded-full bg-blue-600"></span>
  </button>
  
    <!-- Dropdown -->
    <div id="notificationDropdown" class="hidden absolute right-0 w-64 bg-neutral-950">
      <ul class="h-32 divide-y divide-neutral-700">
        <!-- Notification Items -->
        <li><a href="#" class="px-4 py-2 text-xs text-white hover:underline flex justify-center border-t border-neutral-700">New message from John</a></li>
        <li><a href="#" class="px-4 py-2 text-xs text-white hover:underline flex justify-center">New message from John</a></li>
        <li><a href="#" class="px-4 py-2 text-xs text-white hover:underline flex justify-center border-b border-neutral-700">New message from John</a></li>
      </ul>
      <!-- View All Button -->
      <div class="text-center py-2">
        <button class="text-white text-xs font-medium hover:underline">View All</button>
      </div>
    </div>
  </div>

<style>
.hidden {
  display: none;
}
.block {
  display: block;
}
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
  const notificationButton = document.getElementById('notificationButton');
  const notificationDropdown = document.getElementById('notificationDropdown');

  // Toggle dropdown visibility
  notificationButton.addEventListener('click', () => {
    notificationDropdown.classList.toggle('hidden');
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', (event) => {
    if (!notificationButton.contains(event.target) && !notificationDropdown.contains(event.target)) {
      notificationDropdown.classList.add('hidden');
    }
  });
});
</script>