---
const loggedin = false;

import { Icon } from 'astro-icon';
---

{ 
loggedin ?
<button type="button" title="Log Out of Hi Moot" aria-label="Log Out of Hi Moot" class="text-[15px] hover:no-underline flex items-center fill-white hover:fill-red-500 text-white hover:text-red-500">Logout <Icon class="h-[15px] ml-2 mt-[0.5px]" name="logout" /></button>
: null 
}