---
export interface Props {
    href?: string;
    link?: string;
    classname?: string;
}

const { href, link, classname = "" } = Astro.props;
---
<span class="text-[10px]">
    [<a class={`text-[#252728] hover:text-red-600 text-[10px] hover:underline ${classname}`} href={href}>{link}</a>]
</span>