---
export interface Props {
    href?: string;
    link?: string;
    classname?: string;
}

const { href, link, classname = "" } = Astro.props;
---
[<a class={`text-[#1D4ED8] hover:text-[#ED0707] hover:underline ${classname}`} href={href}>{link}</a>]