---
const { loggedin, livestreaming, size, bottom, right } = Astro.props;

// Determine the dot class
const dotClass = loggedin
  ? livestreaming
    ? 'bg-red-500' // Streaming
    : 'bg-green-500' // Online
  : 'hidden'; // Offline

// Set dynamic size based on `size` prop
const sizeClass = size ? `w-${size} h-${size}` : 'w-[19px] h-[19px]'; // Default size is 16x16
---

{loggedin && (
  <div
    class={`absolute bottom-[-3.5px] -right-1 block ${dotClass} ${sizeClass} rounded-full border-[2px] border-white z-20`}
    title={loggedin ? (livestreaming ? 'Livestreaming' : 'Online') : 'Offline'}
  ></div>
)}