 <h2 class="text-[19.2px] font-semibold mb-2 text-balance leading-2">Need Help?</h2>
	<p class="text-xs mb-2 text-balance leading-2">If you need help with Hi Moot, please check out our <a class="text-blue-600  font-normal hover:text-red-600 hover:underline" href="/help">Help Center</a>.</p>
				
	<h2 class="text-[19.2px] font-semibold mb-2 text-balance leading-2">How to Support Us</h2>
		<div class="mb-2">
			<p class="text-xs mb-1 text-balance leading-2">Hi Moot is a small, independent social network, funded by your donations.</p>
			<p class="text-xs mb-1 text-balance leading-2">Learn more about supporting us by buying merchandise or donating on the <a class="text-blue-600 font-normal hover:text-red-600 hover:underline" href="/support" title="Learn more about how you can support us">Support page</a>.</p>
	</div>
	
	<h2 class="text-[19.2px] font-semibold mb-2 text-balance leading-2">Contact Us</h2>
		<p class="mb-2 text-xs text-balance leading-2">For any other inquiries, please email us at <a class="text-red-600" href="#">support@himoot.com</a></p>
			
	<h2 class="text-[19.2px] font-semibold mb-2 text-balance leading-2">Press</h2>
		<p class="text-xs mb-1 text-balance leading-2">To view our press releases, please visit our <a class="text-blue-600  font-normal hover:text-red-600 hover:underline" href="/press">Press Center</a>.</p>
		<p class="text-xs mb-1 text-balance leading-2">If you have any press inquiries, please contact <a class="text-red-600" href="#">press@himoot.com</a></p>
		<p class="text-xs mb-2 text-balance leading-2">To download our logo, please visit our <a class="text-blue-600 font-normal hover:text-red-600 hover:underline" href="/brand">Brand Resources</a>.</p>
	
	<h2 class="text-[19.2px] font-semibold mb-2 text-balance leading-2">Disclaimer</h2>
		<p class="mb-8 text-xs text-balance leading-2">Hi Moot is not affiliated with MySpace<sup>®</sup> in any way.</p>