 <div class="space-y-2">
	 <h2 class="text-[19.2px] font-semibold text-balance leading-2">Need Help?</h2>
	<p class="text-xs text-balance leading-2">If you need help with Hi Moot, please check out our <a class="text-blue-600  font-normal hover:text-red-600 hover:underline" href="/help">help center</a>.</p>
    <h2 class="text-[19.2px] font-semibold text-balance leading-2">Press</h2>
	<p class="text-xs text-balance leading-2">If you have any press inquiries, please <a class="text-blue-600 hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
	<h2 class="text-[19.2px] font-semibold text-balance leading-2">Contact Us</h2>
	<p class="text-xs text-balance leading-2">For any other inquiries, please <a class="text-blue-600 hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
	<h2 class="text-[19.2px] font-semibold text-balance leading-2">Disclaimer</h2>
	<p class="text-xs text-balance leading-2">Hi Moot is not affiliated with MySpace<sup>®</sup> in any way.</p>
 </div>