<h1 class="text-[25.6px] font-semibold mb-2 text-balance">About & FAQs</h1>
	<h2 class="text-[19.2px] font-semibold mb-2 text-balance">What is Hi Moot?</h2>
		<p class="mb-1 text-xs text-balance">Hi Moot is a social network focused on privacy and customizability.</p>
		<p class="mb-2 text-xs text-balance">It is a friendly place to have fun, meet friends, and be creative.</p>
	<h2 class="text-[14.976px] font-semibold mb-2 text-balance">It is Retro Social</h2>
		<p class="mb-2 text-xs leading-5 text-balance">Hi Moot brings back all the things you missed most about social networks: bulletins, blogs, forums, instant messages, and so much more!</p>
	<h2 class="text-[14.976px] font-semibold mb-2 text-balance">It is Fully Customizable</h2>
		<p class="mb-2 text-xs leading-5 text-balance">Hi Moot allows you to add custom HTML and CSS code to your profile to give you all the freedom you need to make your profile truly your space on the web!</p>
	<h2 class="text-[14.976px] font-semibold mb-2 text-balance">It is Privacy Friendly</h2>
		<p class="mb-1 text-xs text-balance">Hi Moot has no algorithms, tracking, or personalized ads.</p> 
		<p class="mb-1 text-xs text-balance">Feeds on Hi Moot are chronological and contain no suggested content begging for your attention.</p>
		<p class="mb-2 text-xs text-balance">You decide what you want to share and what content you would like to view.</p>
	<h2 class="text-[14.976px] font-semibold mb-2 text-balance">It is a Growing Community</h2>
		<p class="mb-1 text-xs leading-5 text-balance">Hi Moot is a safe space for you and your friends to hang out online.</p>
		<p class="mb-3 text-xs text-balance">Join over 600,000 other users already on Hi Moot, have fun, and meet new like-minded people!</p>
		<p class="mb-3 text-xs leading-5 text-balance">Don't have an account yet? <a class="text-blue-600 font-normal hover:text-red-600 hover:underline" href="/signup">Join for free</a></p>