---
import { Icon } from 'astro-icon';
---
<div class="flex items-center space-x-48">
      <a href="https://validator.w3.org" target="_blank" rel="noopener" title="Valid HTML5">
        <Icon class="w-[80px] h-auto hover:brightness-110" name="w3c-html5" />
      </a>
      <a href="https://jigsaw.w3.org/css-validator" target="_blank" rel="noopener" title="Valid CSS3">
        <Icon class="w-[80px] h-auto hover:brightness-110" name="w3c-css3" />
      </a>
      <a href="https://validator.w3.org/feed" target="_blank" rel="noopener" title="Valid RSS">
        <Icon class="w-[80px] h-auto hover:brightness-110" name="w3c-rss" />
      </a>
</div>