---
import LoginLayout from '@lay/LoginLayout.astro';
---
<LoginLayout title="Page Not Found">
	<div class="w-[810px] flex items-start">
        <div class="mx-auto mb-2 font-medium">
          <h1 class="text-[25.6px] font-bold text-center mb-3 text-balance">Page Not Found</h1>
          <img class="mb-3" src="/img/gif/cat_optimized.gif" alt="GIF" loading="eager">
          <p class="text-[9px] text-center mb-6">Courtesy of: <a class="text-blue-600 hover:text-red-600 mb-3" href="https://twitter.com/prguitarman" target="_blank">Chris Torres</a></p>
          <p class="text-[10px] text-center">Redirecting to your homepage in <span class="text-red-600 font-semibold" id="seconds">10</span> seconds</p>
        </div>
      </div>
</LoginLayout>

<script is:inline>
// Function to handle the page redirection
function redirectPage() {
  setTimeout(() => {
    window.location.href = "/";
  }, 10000); // Adjusted to 10 seconds to match the countdown
}

// Function to handle the countdown display
function countdown() {
  let timeLeft = 10; // Encapsulate within the function to avoid global scope

  function tick() {
    timeLeft--;
    document.getElementById("seconds").textContent = timeLeft.toString();
    if (timeLeft > 0) {
      setTimeout(tick, 1000);
    }
  }

  setTimeout(tick, 1000);
}

// Initialize the functions
redirectPage();
countdown();
</script>