---
import Layout from '@lay/Layout.astro';

import FollowButtons from '@com/about/FollowButtons.astro';

import BottomAboutText from '@com/about/BottomAboutText.astro';

import TopAboutText from '@com/about/TopAboutText.astro';
---
<Layout title="About">
		<div class="px-12 pb-1">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">About</h1>
			<TopAboutText />
			<BottomAboutText />
			<div class="mt-2">
				<FollowButtons />
			</div>
		</div>
</Layout>