---
import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="About" pagetitle="About">
	<div class="space-y-2">
	   <h2 class="font-semibold">What is Kinva?</h2>
	   <p class="text-xs">Kinva is a social network focused on privacy and a place to have fun, meet friends, and be creative.</p>
	   <h2 class="font-semibold">It is Retro Social</h2>
	   <p class="text-xs">Kinva has all the things you miss on social networks: bulletins, blogs, forums, instant messages and more.</p>
	   <h2 class="font-semibold">It is Privacy Friendly</h2>
	   <p class="text-xs">Kinva has no algorithms, tracking, or personalized ads.</p> 
	   <p class="text-xs">Feeds on Kinva are chronological and contain no suggested content begging for your attention.</p>
	   <p class="text-xs">You decide what you want to share and what content you would like to view.</p>
	   <h2 class="font-semibold">It is a Growing Community</h2>
	   <p class="text-xs">Kinva is a safe space for you and your friends to hang out online.</p>
	   <h2 class="font-semibold">Press</h2>
	   <p class="text-xs">If you have any press inquiries, please <a class="text-[#252728] hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
	   <h2 class="font-semibold">Contact Us</h2>
	   <p class="text-xs">For any other inquiries, please <a class="text-[#252728] hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
	   <h2 class="font-semibold">Need Help?</h2>
	   <p class="text-xs">If you need help with Kinva, please check out our help center by clicking <a class="text-[#252728]  font-normal hover:text-red-600 hover:underline font-semibold" href="/help">here</a>.</p>
	   <h2 class="font-semibold">Don't Have an Account?</h2>
	   <p class="text-xs">You can click <a class="text-[#252728] font-normal hover:text-red-600 hover:underline font-semibold" href="/signup">here</a> to join for free.</p>
	   <h2 class="font-semibold">Disclaimer</h2>
	   <p class="text-xs">Kinva is not affiliated with MySpace<sup>®</sup> in any way.</p>
	</div>
</OtherLayout>