---
import OtherLayout from '@lay/OtherLayout.astro';

const name = 'Dex';

const email = 'richardk80@icloud.com';
---
<OtherLayout title="Contact">
  <div class="text-zinc-950 mb-2">
  <h1 class="text-[25.6px] font-semibold mb-2 text-balance">Contact Us</h1>
      <form action="/api/submit" method="POST" class="space-y-2">
        <div class="hidden">
          <input
            type="text"
            id="name"
            name="name"
            required
            class="p-2 w-full text-sm border border-gray-300 focus:outline-none cursor-not-allowed caret-transparent select-none"
            value={name}
          />
        </div>
        
        <div class="hidden">
          <input
            type="email"
            id="email"
            name="email"
            required
            class="p-2 w-full text-sm border border-gray-300 focus:outline-none cursor-not-allowed caret-transparent select-none"
            value={email}
          />
        </div>

        <!-- Dropdown for Reason to Contact -->
      <div>
        <select
          id="reason"
          name="reason"
          required
          class="py-1 px-3 pr-5 block w-full border border-zinc-300 text-sm focus:border-zinc-300 focus:ring-2"
          onclick="clearSelection()">
          <option value="" selected>Select Reason</option>
          <option value="Support">Support</option>
          <option value="Feedback">Feedback</option>
          <option value="Privacy">Privacy</option>
          <option value="Press">Press</option>
          <option value="Other">Other</option>
        </select>
      </div>
        
        <div>
          <label for="message" class="block text-[12.8px] font-medium hidden">Message:</label>
          <textarea
            id="message"
            name="message"
            required
            class="p-2 w-full text-sm border border-gray-300 resize-none"
            rows="6"
            placeholder="Type your message here"
          ></textarea>
        </div>
        
        <button
          type="submit"
          class="bg-zinc-100 hover:bg-zinc-200 text-xs text-zinc-950 border border-zinc-950 py-0.5 px-2"
        >
          Send
        </button>
      </form>
</OtherLayout>

<script>
  function clearSelection() {
    const selectElement = document.getElementById('reason') as HTMLSelectElement;
    const firstOption = selectElement.options[0];
    firstOption.selected = false; // Clear the selected attribute
  }
</script>