---
import OtherLayout from '@lay/OtherLayout.astro';

const name = 'Dex';

const email = 'richardk80@icloud.com';
---
<OtherLayout title="Contact">
  <div class="text-zinc-950 mb-5">
  <h1 class="text-[25.6px] font-semibold mb-2 text-balance">Contact Us</h1>
      <form action="/api/submit" method="POST" class="space-y-2">
        <div>
          <label for="name" class="block text-[12.8px] font-medium">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="p-2 w-full text-sm border border-gray-300 focus:outline-none cursor-not-allowed caret-transparent select-none"
            value={name}
          />
        </div>
        
        <div>
          <label for="email" class="block text-[12.8px] font-medium">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="p-2 w-full text-sm border border-gray-300 focus:outline-none cursor-not-allowed caret-transparent select-none"
            value={email}
          />
        </div>
        
        <div>
          <label for="message" class="block text-[12.8px] font-medium">Message:</label>
          <textarea
            id="message"
            name="message"
            required
            class="p-2 w-full text-sm border border-gray-300 resize-none"
            rows="6"
          ></textarea>
        </div>
        
        <button
          type="submit"
          class="bg-zinc-100 hover:bg-zinc-200 text-xs text-zinc-950 border border-zinc-950 py-0.5 px-2"
        >
          Send
        </button>
      </form>
</OtherLayout>