---
import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="Feeds" pagetitle="Feeds">
  <div class="ml-0.5">
    <p class="mb-2 text-xs break-words leading-2">Hi Moot provides RSS feeds for easy integration with feed readers and other programs.</p>
    <p class="mb-2 text-xs break-words">To access a RSS feed, use one of the following urls:</p>
    <div class="space-y-2">
      <div>
        <ul class="text-xs">
          <div class="space-y-1">
            <li class="text-[14.8px] font-bold mb-2">Blogs</li>
            <li class="ml-6 list-disc list-outside">Top Entries: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_top</a></li>
            <li class="ml-6 list-disc list-outside">Recent Entries: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_recent</a></li>
            <li class="ml-6 list-disc list-outside">Specific Category (Replace [Category-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_category?id=[Category-ID]</a></li>
            <li class="ml-6 list-disc list-outside">User Blogs (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_user?id=[User-ID]</a></li>
          </div>
        </div>
        <div>
          <ul class="text-xs">
            <div class="space-y-1">
              <li class="text-[14.8px] font-bold mb-2">Forums</li>
              <li class="ml-6 list-disc list-outside">Specific Forum (Replace [Forum-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum?id=[Forum-ID]</a></li>
              <li class="ml-6 list-disc list-outside">Specific Topic (Replace [Topic-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum_topic?id=[Topic-ID]</a></li>
              <li class="ml-6 list-disc list-outside">User Topics (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum_user?id=[User-ID]</a></li>
            </div>
          </ul>
        </div>
        <div>
          <ul class="text-xs">
            <div class="space-y-1">
              <li class="text-[14.8px] font-bold mb-2">Layouts</li>
              <li class="ml-6 list-disc list-outside">Top Layouts: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_top</a></li>
              <li class="ml-6 list-disc list-outside">Recent Layouts: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_recent</a></li>
              <li class="ml-6 list-disc list-outside">Specific Tag (Replace [tag-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_tag?id=[Tag-ID]</a></li>
              <li class="ml-6 list-disc list-outside">User Layouts (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_user?id=[User-ID]</a></li>
            </div>
          </ul>
        </div>
        <div>
          <ul class="text-xs">
            <div class="space-y-1">
              <li class="text-[14.8px] font-bold mb-2">Groups</li>
              <li class="ml-6 list-disc list-outside">Top Groups: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_top</a></li>
              <li class="ml-6 list-disc list-outside">New Groups: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_new</a></li>
              <li class="ml-6 list-disc list-outside">Specific Category (Replace [Category-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_category?id=[Category-ID]</a></li>
              <li class="ml-6 list-disc list-outside">Specific Group Forum (Replace [Group-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/group_forum?id=[Group-ID]</a></li>
            </div>
          </ul>
        </div>
        <div>
          <ul class="text-xs">
            <li class="text-[14.8px] font-bold mb-2">Miscellaneous</li>
            <li class="ml-6 list-disc list-outside">Hi Moot News (Changelog): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/news</a></li>
          </ul>
        </div>
      </div>
  </div>
</OtherLayout>