---
import Layout from '@lay/Layout.astro';
import { Icon } from 'astro-icon/components';
---
<Layout title="Feeds">
    <div class="pl-12 pb-1">
      <h1 class="mb-2 text-[25.6px] font-bold">Feeds</h1>
        <p class="mb-2 text-xs break-words leading-2">Hi Moot provides RSS feeds for easy integration with feed readers and other programs.</p>
        <p class="mb-2 text-xs break-words">To access a RSS feed, use one of the following urls:</p>
            <div class="mb-2">
                <ul class="text-xs">
                  <div class="space-y-1">
                  <li class="text-[14.8px] font-bold mb-2">Blogs:</li>
                      <li class="ml-4 list-disc list-[circle] list-outside">Top Entries: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_top</a></li>
                      <li class="ml-4 list-disc list-[circle] list-outside">Recent Entries: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_recent</a></li>
                      <li class="ml-4 list-disc list-[circle] list-outside">Specific Category (Replace [Category-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_category?id=[Category-ID]</a></li>
                      <li class="ml-4 list-disc list-[circle] list-outside">User Blogs (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/blog_user?id=[User-ID]</a></li>
                  </div>
            </div>
            <div class="mt-2">
              <ul class="text-xs">
                <div class="space-y-1">
                  <li class="text-[14.8px] font-bold mb-2">Forums:</li>
                    <li class="ml-4 list-disc list-[circle] list-outside">Specific Forum (Replace [Forum-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum?id=[Forum-ID]</a></li>
                    <li class="ml-4 list-disc list-[circle] list-outside">Specific Topic (Replace [Topic-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum_topic?id=[Topic-ID]</a></li>
                    <li class="ml-4 list-disc list-[circle] list-outside">User Topics (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/forum_user?id=[User-ID]</a></li>
                </div>
              </ul>
            </div>
            <div class="mt-2">
              <ul class="text-xs">
                <div class="space-y-1">
                  <li class="text-[14.8px] font-bold mb-2">Layouts:</li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Top Layouts: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_top</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Recent Layouts: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_recent</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Specific Tag (Replace [tag-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_tag?id=[Tag-ID]</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">User Layouts (Replace [User-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/layouts_user?id=[User-ID]</a></li>
                </div>
              </ul>
            </div>
            <div class="mt-2">
              <ul class="text-xs">
                <div class="space-y-1">
                  <li class="text-[14.8px] font-bold mb-2">Groups:</li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Top Groups: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_top</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">New Groups: <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_new</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Specific Category (Replace [Category-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/groups_category?id=[Category-ID]</a></li>
                  <li class="ml-4 list-disc list-[circle] list-outside">Specific Group Forum (Replace [Group-ID]): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/group_forum?id=[Group-ID]</a></li>
                </div>
              </ul>
            </div>
            <div class="mt-2">
              <ul class="text-xs">
                <li class="text-[14.8px] font-bold mb-2">Miscellaneous:</li>
                <li class="ml-4 list-disc list-[circle] list-outside">Hi Moot News (Changelog): <a class="text-blue-600 hover:text-red-600 hover:underline" href="#" target="_blank">https://rss.himoot.com/news</a></li>
              </ul>
            </div>
          </ul>
          <div class="mt-5 flex justify-center">
            <a href="https://validator.w3.org/feed" target="_blank" rel="noopener" title="Valid RSS"><Icon class="w-[70px] h-auto hover:brightness-[.95]" name="w3c-rss" /></a>
          </div>
        </div>
</Layout>