---
const userCookie = Astro.cookies.get('user');
const user = userCookie ? JSON.parse(userCookie.value) : null;
if (user) return Astro.redirect("/home");

import LoginLayout from '@lay/LoginLayout.astro';
---
<LoginLayout title="Login" pagetitle="Login">
        <div class="py-6 px-2 mx-[50px]">
          <form id="loginForm" class="space-y-4 -mt-3">
            <!-- Email Input -->
            <div>
              <label for="email" class="block text-sm">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                class="w-full mt-1 px-3 py-2 border border-neutral-500 text-sm"
                placeholder="Email Address"
                required
              />
            </div>
            <!-- Password Input -->
            <div>
              <label for="password" class="block text-sm">Password:</label>
              <input
                type="password"
                name="password"
                id="password"
                class="w-full mt-1 px-3 py-2 border border-neutral-500 text-sm"
                placeholder="Password"
                required
              />
            </div>
            <!-- Action Buttons -->
             <div class="flex justify-between items-baseline">
               <div class="flex items-baseline space-x-3">
                 <button
                   type="submit"
                   class="px-4 py-2 bg-neutral-950 text-white hover:underline"
                 >
                   Login
                 </button>
                 <a
                   href="/resetpassword"
                   class="text-sm hover:text-red-600 underline"
                 >
                   Forgot Password?
                 </a>
               </div>
                 <p class="text-sm">
                   Don't have an account? 
                   <a href="/signup" class="hover:text-red-600 underline">Sign Up</a>
                 </p>
             </div>
          </form>
          <!-- Sign Up Link -->
        </div>
</LoginLayout>

<script>
    const loginForm = document.getElementById('loginForm') as HTMLFormElement;
  
    loginForm.addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const formData = new FormData(loginForm);
      const email = formData.get('email');
      const password = formData.get('password');
  
      try {
        const response = await fetch('/api/auth', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            action: 'signin',
            email,
            password,
          }),
        });
  
        if (response.ok) {
        const data = await response.json();
        console.log('User logged in:', data.user);

        // Redirect to the home page
        window.location.href = '/home';
      } else {
        const error = await response.json();
        alert(`Login failed: ${error.error}`);
      }
    } catch (error) {
      console.error('Login error:', error);
      alert('An error occurred. Please try again.');
    }
  });
</script>