---
import Layout from '@lay/Layout.astro';

import LoginCoolPeople from '@com/login/CoolPeople.astro';
import LoginDivider from '@com/login/LoginDivider.astro';
import LoginBox from '@com/login/LoginBox.astro';
import FourBoxes from '@com/login/IDBoxes/FourBoxes.astro';

import UserDetailBox from '@com/home/UserDetailBox.astro';
import MyMail from '@com/home/MyMail.astro';
import ProfileLinkBox from '@com/home/ProfileLinkBox.astro';
import UpdatesBox from '@com/home/UpdatesBox.astro';
import BlogEntry from '@com/home/BlogEntry.astro';
import InfoBox from '@com/home/InfoBox.astro';
import CoolPeople from '@com/home/CoolPeople.astro';
import FriendsBulletins from '@com/home/FriendsBulletins.astro';
import FriendRequests from '@com/home/FriendRequests.astro';

const loggedin = true;
const hidden = false;
---
<Layout title={ loggedin ? "Home" : "Login" }>
	{ loggedin ?
    <div class="grid grid-cols-12 grid-flow-row-dense">
        <div class="col-span-full">
            <div class="flex items-start justify-between gap-x-2">
                <!-- Left Column -->
                <div class="flex flex-col gap-y-2">
                    <UserDetailBox />
                    <MyMail  />
                    <ProfileLinkBox />
                    <UpdatesBox />
                </div>
                <!-- Right Column -->
                <div class="flex flex-col gap-y-2 w-full">
                    <div class="flex justify-between">
                        <div class="-mt-0.5">
                            <BlogEntry />
                        </div>
                        <InfoBox />
                    </div>
                    <CoolPeople />
                    <FriendsBulletins />
                    <FriendRequests />
                </div>
            </div>
        </div>
    </div>
    :
    <div class="grid grid-cols-12 grid-flow-row-dense">
        <div class="col-span-full">
            <div class="flex items-start justify-between">
                <!-- Left Column -->
                <div class="grid grid-rows-1">
                    <LoginCoolPeople />
                </div>
                <!-- Divider -->
                <div class="grid grid-rows-1 gap-y-0.5">
                    <LoginDivider />
                </div>
                <!-- Right Column -->
                <div class="grid grid-rows-1 gap-x-2 flex flex-wrap">
                    <LoginBox />
                </div>
            </div>
            <!-- Bottom Section -->
            <div class="pt-2 w-full flex items-center">
                <FourBoxes />
            </div>
        </div>
    </div>
	}
</Layout>