---
import OtherLayout from '@lay/OtherLayout.astro';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<OtherLayout title="Signup">
    <h1 class="text-[25.6px] font-semibold mb-2 text-balance">Reset Password</h1>
</OtherLayout>