---
import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="Rules" pagetitle="Rules">
		<div class="space-y-2 ml-0.5">
			<p class="text-xs">To protect all users, some rules are in effect.</p>
			<p class="text-xs">Please read carefully and remember whenever you are posting something or changing your profile.</p>
			<h2 class="font-semibold">Safety</h2>
			<p class="text-xs">You are not allowed to display, share or promote any form of:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Violence</p>
				<p>2. Abuse</p>
				<p>3. Harassment</p>
				<p>4. Hate Speech</p>
				<p>5. Harmful content (including self-harm and suicidal content.</p>
				<p>6. Illegal/unlawful content</p>
			</div>
			<p class="text-xs">Smoking/Vaping/Alcohol brands are not allowed to create an account or promote their goods on Hi Moot.</p>
			<h2 class="font-semibold">Non-Permitted Content</h2>
			<p class="text-xs">This is not the place to display, share or promote these types of content:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Nudity</p>
				<p>2. Sexual content</p>
			</div>
			<p class="text-xs">Please keep Hi Moot family-friendly (especially considering all images, videos and links).</p>
			<h2 class="font-semibold">Non-Permitted Behavior</h2>
			<p class="text-xs">You are not allowed to do these things on Hi Moot:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Manipulate other users</p>
				<p>2. Create a large amount of accounts</p>
				<p>3. Share excessive amounts of content ("Spam")</p>
			</div>
			<p class="text-xs">If your account is suspended, you are not allowed to create any new accounts.</p>
			<h2 class="font-semibold">Impersonation</h2>
			<p class="text-xs">You are not allowed to impersonate other people on Hi Moot.</p>
			<p class="text-xs">We understand that users like creating profiles with the names of popular people as a parody.</p>
			<p class="text-xs">If you do this, please use the "About" section on your profile to inform other users that your account is a parody.</p>
			<p class="text-xs">You must do this in a way which can be easily seen and understood by others.</p>
			<h2 class="font-semibold">Intellectual Property</h2>
			<p class="text-xs">You are not allowed to violate any intellectual property rights, including copyright and trademark, of others.</p>
			<h2 class="font-semibold">Questions</h2>
			<p class="text-xs">If you have any questions regarding the rules, please <a class="text-blue-600 hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
		</div>
</OtherLayout>