---
const userCookie = Astro.cookies.get('user');
const users = userCookie ? JSON.parse(userCookie.value) : null;
if (!users) return Astro.redirect("/");

import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="Rules" pagetitle="Rules">
		<div class="space-y-2 ml-0.5">
			<p class="text-xs">To protect all users, some rules are in effect.</p>
			<p class="text-xs">Please read these rules carefully and abide by them.</p>
			<h2 class="font-semibold">Safety</h2>
			<p class="text-xs">You are not allowed to display, share or promote any form of:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Violence</p>
				<p>2. Abuse</p>
				<p>3. Harassment</p>
				<p>4. Hate Speech</p>
				<p>5. Harmful content (including self-harm and suicidal content).</p>
				<p>6. Illegal/unlawful content.</p>
			</div>
			<p class="text-xs">Smoking/Vaping/Alcohol brands are not allowed to create an account or promote their goods on Kinva.</p>
			<h2 class="font-semibold">Non-Permitted Content</h2>
			<p class="text-xs">This is not the place to display, share or promote these types of content:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Nudity</p>
				<p>2. Sexual content</p>
			</div>
			<p class="text-xs">Please keep Kinva family-friendly (especially considering all images, videos and links).</p>
			<h2 class="font-semibold">Non-Permitted Behavior</h2>
			<p class="text-xs">You are not allowed to do these things on Kinva:</p>
			<div class="space-y-2 ml-3 text-xs">
				<p>1. Manipulate other users</p>
				<p>2. Create a large amount of accounts</p>
				<p>3. Share excessive amounts of content ("Spam")</p>
				<p>4. Share any form of child sexual abuse material ("CSAM")</p>
			</div>
			<p class="text-xs">Kinva is not the place for these types of behavior so do not do it here.</p>
			<h2 class="font-semibold">Impersonation</h2>
			<p class="text-xs">You are not allowed to impersonate other people on Kinva.</p>
			<p class="text-xs">If your account is a parody, use the "Story" section on your profile to let other users know.</p>
			<h2 class="font-semibold">Intellectual Property</h2>
			<p class="text-xs">You are not allowed to violate any intellectual property rights, including copyrights and trademarks.</p>
			<h2 class="font-semibold">Account Suspension</h2>
			<p class="text-xs">Failure to follow these rules may result in account suspension and reporting to authorities, if applicable.</p>
			<p class="text-xs">If your account is suspended, you are not allowed to create another account.</p>
			<h2 class="font-semibold">Questions</h2>
			<p class="text-xs">If you have any questions, concerns, or issues regarding these rules, please do not hesitate to <a class="font-semibold text-neutral-950 hover:text-red-600 hover:underline" href="/contact">contact us</a>.</p>
		</div>
</OtherLayout>