---
import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="Status" pagetitle="Site Status">
    <div class="flex items-center justify-center my-14">
        <p>Coming Soon</p>
     </div>
</OtherLayout>