---
import OtherLayout from '@lay/OtherLayout.astro';
import { setupViewTransitions } from '../scripts/view-transition.js';

setTimeout(() => {
  setupViewTransitions();
}, 0);
---
<OtherLayout title="Thank You">
    <div class="-mb-1">
        <main class="max-w-lg mx-auto text-center py-14">
            <h1 class="text-3xl font-bold mb-2">Thank You!</h1>
            <p class="text-lg">Your message was sent successfully</p>
        </main>
    </div>
</OtherLayout>

<script type="module" src="/scripts/view-transition.js" on:load></script>