---
import SmallLink from '@com/main/SmallLink.astro';

import ShowList from '@com/main/ShowList.astro';

const showList = true;
---
<div class="space-y-1">
    <div class="text-xs font-semibold text-black ">Your Latest Blog Entries <span class="font-semibold"><SmallLink href="/astro/blog/edit" link="Add Entry" /></span></div>
        { showList ? <ShowList /> : 
            <p class="text-xs">You have no blog entries yet</p>
        }
</div>