---
import RegularBox from '@com/main/RegularBox.astro';

const { username } = Astro.props;

const friendbulletins = [
  { from: 'Stanley', subject: `What's going on with my life right now ha ha ha ha ha ha` },
  { from: 'Mike', subject: `What's going on with my life right now ha ha ha ha ha ha` },
  { from: 'Rodney', subject: `What's going on with my life right now ha ha ha ha ha ha` },
  { from: 'Jacob', subject: `What's going on with my life right now ha ha ha ha ha ha` },
  { from: 'Norman', subject: `What's going on with my life right now ha ha ha ha ha ha` },
];

const hasBulletins = friendbulletins.length > 0; // Check if there are bulletins
---
<RegularBox 
  name="Your Friend's Bulletins" 
  name2="[view all]"  
  pclass="flex items-center justify-between mx-2 text-xs font-semibold mt-0.5 flex flex-grow" backgroundColor="bg-blue-200" 
  borderColor="border-b-0 border-blue-200" 
  aclass="text-[10px] -mt-0.5 font-normal hover:underline" 
  aurl="/bulletins"
>
  <div>
    {hasBulletins ? 
      <div>
        <div class="grid grid-cols-5 border-b-2 border-blue-200 flex items-center">
          <div class="py-1 col-span-1 border-r-2 border-blue-200">
            <h2 class="text-xs font-semibold pl-2">From</h2>
          </div>
          <div class="py-1 col-span-4">
            <h2 class="text-xs font-semibold ml-2">Subject</h2>
          </div>
        </div>
        {friendbulletins.map(bulletin => (
          <div class="grid grid-cols-5 flex items-center border-b-2 border-blue-200">
            <div class="py-1 pl-2 col-span-1 border-r-2 border-blue-200">
              <a href="#" class="text-xs flex text-blue-600 hover:text-red-600 hover:underline">{bulletin.from}</a>
            </div>
            <div class="py-1 pl-2 col-span-4">
              <a href="#" class="text-xs flex text-black hover:text-red-600 hover:underline">{bulletin.subject}</a>
            </div>
          </div>
        ))}
      </div>
      :
      <div class="grid grid-cols-3 border-b-2 border-blue-200">
        <div class="py-1 col-span-3">
          <div class="text-xs flex items-center justify-center pt-0.5">
            <p class="font-semibold">No Bulletins -</p>
            <a class="text-blue-600 hover:text-red-600 ml-1 hover:underline font-normal" href="/browse">
              Add New Friends
            </a>
          </div>
        </div>
      </div>
    }
  </div>
</RegularBox>