---
import RelativeTime from '@yaireo/relative-time';
import NonRegularBox from '@com/main/NonRegularBox.astro';

const datetoday = new Date().toLocaleDateString(undefined, { month: 'short', day: 'numeric', year: 'numeric', timeZone: 'UTC' });
const createdDate = new RelativeTime().from(new Date('01-01-2020'));
---

<NonRegularBox widthcss="w-[150px]" name={datetoday} pclass="flex items-center justify-center text-xs font-bold text-white mt-0.5" backgroundColor="bg-blue-800" borderColor="border-blue-800">
    <div class="py-2 space-y-2 text-xs font-semibold text-center">
        <div>
            <p>Your Friends:</p>
            <a class="text-red-600 hover:underline" href="/astro/friends" set:text="50" />
        </div>
        <div>
            <p>Profile Views:</p>
            <p class="text-red-600" set:text="200" />
        </div>
        <div>
            <p>Joined:</p>
            <p class="text-red-600" set:html={createdDate} />
        </div>
    </div>
</NonRegularBox>