---
import BubbleBox from "@com/main/BubbleBox.astro";
---
<BubbleBox 
    widthcss="w-[304px]" 
    name="Status" 
    name2="[view more]"
    loggedin
    pclass="flex items-center justify-between mx-2 text-xs font-semibold mt-0.5 flex flex-grow" 
    backgroundColor="bg-blue-200" 
    borderColor="border-blue-200" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline" 
    aurl="/status"
>
    <div class="py-2">
        <div class="pl-2">
            <p class="text-xs text-balance font-normal">Coming Soon</p>
        </div>
    </div>
</BubbleBox>