---
import BubbleBox from "@com/main/BubbleBox.astro";
---
<BubbleBox 
    widthcss="w-[304px]" 
    name="Site Status" 
    name2="[view more]"
    loggedin
    pclass="flex items-center justify-between mx-2 text-xs font-semibold mt-0.5 flex flex-grow" 
    backgroundColor="bg-blue-200" 
    borderColor="border-blue-200" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline" 
    aurl="/status"
>
    <div class="pt-1 pb-1">
        <div class="px-2">
            <div class="w-full h-5">
                <p class="text-xs text-center pt-0.5">Coming Soon</p>
            </div>
        </div>
    </div>
</BubbleBox>