---
import BubbleBox from "@com/main/BubbleBox.astro";

const updates = [
    {updatetext:"Profile Page Fix"},
    {updatetext: "Blog URL Now Shown On Homepage"},
    {updatetext:"Cool New People Added"},
    {updatetext: "About Page Added"}
]
---
<BubbleBox 
    widthcss="w-[304px]" 
    name="Updates" 
    name2="[view all]"
    loggedin
    pclass="flex items-center justify-between mx-2 text-xs font-semibold mt-0.5 flex flex-grow" 
    backgroundColor="bg-blue-200" 
    borderColor="border-blue-200" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-zinc-950" 
    aurl="/updates"
>
    <div class="mt-2 mb-[7px] ml-2 space-y-1">
    {updates.map((update) => ( <p class="text-xs text-balance">» {update.updatetext}</p>))}
    </div>
</BubbleBox>