---
import NonRegularBox from '@com/main/NonRegularBox.astro';
import ProfileImage from '@com/main/ProfileImage.astro';
import TopRightUserDetailLinks from '@com/home/TopRightUserDetailLinks.astro';
import BottomUserDetailLinks from '@com/home/BottomUserDetailLinks.astro';

import { Icon } from 'astro-icon/components';

const { name, username } = Astro.props;

import profilepic from '../../pages/profilepic';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<NonRegularBox 
    widthcss="w-[304px]" 
    name={`Hello ${name}!`}
    pclass="flex items-center ml-2 text-base font-semibold text-white mt-0.5 h-6" 
    backgroundColor="bg-[#60A5FA]" 
    borderColor="border-[#60A5FA]"
>
        <div class="mx-2 mt-2 mb-1 space-y-1">
            <div class="flex justify-between">
                <a href={`/${username}`}>
                    {profilepic ? (
                        <ProfileImage
                          width={160}
                          height={160}
                          srcurl="https://i.pravatar.cc/600?img=3"
                          altText="Dex's profile picture"
                          titleText="Visit Dex's Profile Page"
                        />
                      ) : (
                        <Icon class="w-[160px] h-[160px] mb-1.5" name="avatar" />
                      )}
                </a>
                <div class="-mt-0.5">
                    <TopRightUserDetailLinks username={username} />
                </div>
            </div>
            <div class="box-border space-y-1">
                <BottomUserDetailLinks username={username} />
            </div>
        </div>
</NonRegularBox>