---
const userCookie = Astro.cookies.get('user');
const users = userCookie ? JSON.parse(userCookie.value) : null;
if (!users) return Astro.redirect("/");

import OtherLayout from '@lay/OtherLayout.astro';

const name = 'Dex';

const username = 'dex';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<OtherLayout title="Your Forums" pagetitle="Your Forums">
	<a class="text-neutral-950 hover:text-red-600 hover:underline text-xs" href={`/${username}`}>« Back to {name}'s profile</a>
</OtherLayout>