---
import Logo from '@com/main/Logo.astro';
import SearchBox from '@com/search/SearchBox.astro';
import RightLinks from '@com/main/RightLinks.astro';
import Navbar from '@com/main/Navbar.astro';
---
<header class="bg-blue-600 h-[40px]">
    <div class="flex items-center mx-1.5 mr-2 py-1">
            <Logo />
        <div class="w-full ml-2 my-[0.5px]">
            <SearchBox />
        </div>
        <div class="-mt-0.5">
            <RightLinks />
        </div>
    </div>
</header>
<Navbar />