<div class="w-[197.5px] h-[120px] bg-gradient-to-r from-blue-50 to-blue-100 to-90% border-t-2 border-b-2 border-l-2 border-blue-300">
    <div class="-mt-2">
        <div class="pt-3 pb-1 px-2 space-y-0.5">
            <h1 class="text-[14.976px] text-blue-600 font-semibold">Privacy Friendly</h1>
            <p class="text-xs text-balance">No algorithms, tracking or personalized ads. Just a safe space for you and your friends to hang out online.</p>
            <p class="text-red-600 hover:no-underline text-xs flex justify-end">» <a class="text-blue-600 hover:text-red-600 hover:underline ml-1" href="/browse">Browse Profiles</a></p>
        </div>
    </div>
</div>