---
import Layout from '@lay/Layout.astro';
---
<Layout title="Edit Blog Entry">
	<main class="mx-[100px] mb-8">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Edit Blog Entry</h1>
		<a class="text-blue-600 hover:text-red-600 hover:underline text-xs" href="/blogs">« Back to blogs</a>
	</main>
</Layout>