---
import OtherLayout from '@lay/OtherLayout.astro';
---
<OtherLayout title="Edit Blog Entry" pagetitle="Edit Blog Entry">
	<a class="text-neutral-900 hover:text-red-600 hover:underline text-xs" href="/blogs">« Back to blogs</a>
</OtherLayout>