---
import Layout from '@lay/Layout.astro';
---
<Layout title="Edit Blog Entry">
	<main class="mx-[110px] mb-8 text-black">
		<h1 class="text-[19.2px] font-semibold mb-2">Edit Blog Entry</h1>
		<a class="text-blue-600 hover:text-red-600 hover:underline text-xs" href="/blogs">« Back to blogs</a>
	</main>
</Layout>