---
import SmallLink from '@com/main/SmallLink.astro';

import DonationButton from '@com/main/DonationButton.astro';

const donationsOn = true;
---
{ 
donationsOn 
? 
<div class="w-[304px]">
    <div class="border-2 border-black">
        <div class="border-8 border-blue-200">
            <div class="py-[9px]">
                    <p class="text-xs font-semibold text-center mb-1">Hi Moot is a small, independent social network, funded by your donations.</p>
                    <p class="text-center text-[10.8px] mb-2"><SmallLink href="/support" link="more details" /></p>
                    <DonationButton />
            </div>
        </div>
    </div>
</div>
: 
'' 
}