<div class="border-2 border-zinc-950 w-[304px] flex h-[141px] -mt-[0.5px]">
    <div class="m-auto">
        <form class="flex justify-center grid grid-flow-row space-y-1">
            <h1 class="text-[12.8px] font-semibold text-[#1D4ED8] text-center">Member Login</h1>
            <div>
                <input type="text" class="w-40 h-6 border-2 border-zinc-950 placeholder:text-xs text-xs pl-1.5" placeholder="Username..." value="" autocomplete="on" />
            </div>
            <div>
                <input type="password" class="w-40 h-6 border-2 border-zinc-950 placeholder:text-xs text-xs pl-1.5" placeholder="Password..." value="" autocomplete="on"  />
            </div>
            <div class="flex justify-end items-center space-x-2">
                <a class="group text-sm text-white hover:underline px-2 py-0.5 border-2 border-orange-600 bg-orange-600 hover:brightness-110" href="/signup">Signup</a>
                <button class="group text-sm text-white hover:underline px-2 py-0.5 border-2 border-blue-600 bg-blue-600 hover:brightness-110">
                    Login
                </button>
            </div>
            <a class="text-xs text-[#1D4ED8] hover:text-[#ED0707] hover:underline flex justify-end font-semibold" href="/resetpassword">Forget Password?</a>
        </form>
    </div>
</div>