---
import Layout from '@lay/Layout.astro';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<Layout title="Your User Block List">
	<main class="mx-[50px] mb-8">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Your User Block List</h1>
		<a class="text-[#1D4ED8] hover:text-[#ED0707] hover:underline text-xs" href="/">« Back to your homepage</a>
	</main>
</Layout>