---
import OtherLayout from '@lay/OtherLayout.astro';

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<OtherLayout title="Your User Block List" pagetitle="Your User Block List">
	<a class="text-[#252728] hover:text-red-600 hover:underline text-xs" href="/">« Back to your homepage</a>
</OtherLayout>