---
const userCookie = Astro.cookies.get('user');
const users = userCookie ? JSON.parse(userCookie.value) : null;
if (!users) return Astro.redirect("/");

import OtherLayout from '@lay/OtherLayout.astro';

const username = 'dex';
---
<OtherLayout title="Edit Details" pagetitle="Edit Details">
	<a class="text-neutral-950 hover:text-red-600 hover:underline text-xs" href={`/${username}`}>« Back to your profile</a>
</OtherLayout>
