---
import OtherLayout from '@lay/OtherLayout.astro';

const username = 'dex';
---
<OtherLayout title="Edit Your Status" pagetitle="Edit Your Status">
	<a class="text-blue-600 hover:text-red-600 hover:underline text-xs" href={`/${username}`}>« Back to your profile</a>
</OtherLayout>