---
import Layout from '@lay/Layout.astro';

const username = '';
---
<Layout title="Edit Your Interests">
	<main class="mx-[110px] mb-8">
		<h1 class="text-[25.6px] font-semibold mb-2 text-balance">Edit Your Interests</h1>
		<a class="text-blue-600 hover:text-red-600 hover:underline text-xs" href={`/${username}`}>« Back to your profile</a>
	</main>
</Layout>