---
import Layout from '@lay/Layout.astro';

const username = 'Astro';

//let parts = name.split(' ')
//let firstName = parts.shusernamelet lastName = parts.join(' ');
---
<Layout title="Friend Requests">
	<main class="mx-[110px] mb-8 text-black">
		<h1 class="text-[19.2px] font-semibold mb-2">Your Friend Requests</h1>
	</main>
</Layout>